//@use '../../styles/variables' as *;
@use '@/assets/variables/colors' as *;

.ui-accordion {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.ui-accordion-item {
  $self: &;

  background: #2B2F35;
  transition: .2s ease-out;

  a {
    color: $clr-red-active;
    transition: opacity .2s ease-out;

    &:hover {
      opacity: 0.7;
    }
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    text-align: left;
    padding: var(--accordion-head-padding, 20px);
    transition: padding .2s ease-in-out;
    cursor: pointer;

    #{$self}.is-active & {
    }

    #{$self}.is-disabled & {
      cursor: default;
    }
  }

  &__title {
    color: white;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;

    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
  }

  &__icon {
    transition: transform .2s ease-out;
    
    #{$self}.is-active & {
      transform: rotateZ(180deg);
    }
  }

  &__content {
    color: white;
    padding: var(--accordion-content-padding, 10px 20px 20px);
  }
}

.ui-accordion-transition {
  transition: .2s height ease-in-out,
  .2s padding-top ease-in-out,
  .2s padding-bottom ease-in-out;
}

.ui-accordion-transition-leave-active,
.ui-accordion-transition-enter-active {
  transition: .2s max-height ease-in-out,
  .2s padding-top ease-in-out,
  .2s padding-bottom ease-in-out;
}